

header {
    background-color: rgb(250, 227, 17);
    width: 100%;

}

#namebox {
    background-color: black;
    color: rgb(255, 232, 27);
    height: 65px;
    text-align: center;
    font-size:30px;
}

.nav {
    padding: 10px 0 0 0;

}
#white{
    color: white;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

.contatiner {
    margin: 0 0 100px 0;
}
footer {
    height: 50px;
    background-color:blue;
    color: white;
    text-align: center;
    min-width: 100%;

}

#selfie {
    height: 480px;
    width: 50%;
    margin: 0 auto;
}

.row {
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.cole {
    border-style: solid;
    border-color: orange;
    border-width: 5px;
}