.card {
    width: 80%;
    margin: 2% auto;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: darkblue;
    color: white;
    text-shadow: black 1px 1px 1px;
    padding: 0 0 50px 0;
    box-shadow: 0px 0px 20px 1px black;
    font-size: 36px;
    line-height: 36px;

}

.cardBody {
    margin: 10px;
    
}
.cardTitle {
    margin: 20px;
    padding: 1px 0 0 0;
}
#selfie {
    float: right;
    margin: 20px 10px;
}
